table {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 12%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 5px;
}

table td,
table th {
    border: 3px solid rgb(105, 206, 219);
    padding: 8px;
    text-align: left;
    color: rgb(122, 116, 116);
}


.badge {
    color: aquamarine;
}

table th,
tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
}